@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-green-accent: #22c55e;
  --font-sans: var(--font-geist-sans);
  --font-heading: var(--font-anton);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-heading {
  font-family: var(--font-heading), "Anton", sans-serif;
}

html {
  scroll-behavior: smooth;
}
